.container {
    background-color: white;
    width: 80%;
    min-height: 100vh;
    height: auto;
    display: relative;
    margin: auto;
    padding: 0px;
}
body {
    background-color: black;
    

}
header {
    background-color: black;
}
h3 {
    color: darkgrey;
}
h1 {
    color: whitesmoke;
    text-align: center;
}
h2 { 
    text-align: center;
    color: black;
}
ul {
    list-style-type: none;
  }


fieldset {
    border: 1px solid black;
    border-radius: 3px;
    padding: 20px;
    margin: 15px 0;
}

legend {
    padding: 0 10px;
    font-weight: 500;
    color: black;
}

label {
    font-weight: 200;
    color: black;
    display: block;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid darkred;
}

input:focus {
outline-color: red;
}

Input[type="submit"] {
    height: 50px;
    width: 150px;
    background: black;
    box-shadow: 2px 2px darkgray;
    color: red;
    transition: .2s eas-in-out;

}

.BG {
    height: 200px;
}

.custom-select {
    width: 40%;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid darkred;
}
.custom-select:hover {
    outline-color: red;
}

Input[type="submit"]:hover {
    cursor: pointer;
    border: 2px;
    background-color: red;
    color: black;
    border-color: white;
}

.form-control-file {
    border: 0px;
}

.custom-range {
    border: 0px;
}

textarea {
    resize:vertical;

}
.icon {
    height: 64px;
    width: 64px;
}
textarea:focus {
    outline-color: red;
}

.CharName {
    width: 40%;
}

.levelSel {
    width: 15%;
}
.navi {
    align-content: center;
}